//////////////////////////////////
//LOGO
.logo{
  height: 3.25rem;
  margin-left:2rem; 
}

//////////////////////////////////
//SEARCH
.search{
  // background-color:orangered; //for cheacking
  flex: 0 0 40%; 
  
  
  display: flex;
  align-items: center;
  justify-content: center;

  &__input{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color:var(--grey-light-2);
    border: none; 
    padding: .7rem 2rem;
    border-radius: 100px; 
    width:90%;
    transition: all .2s;
    margin-right: -3.25rem; 

      &:focus{
        outline:none;
        width:100%;
        background-color:var(--grey-light-3);
      }

      &::-webkit-input-placholder{
        font-weight: 100;
        color:var(--grey-light-4);
      }
  }

  &__input:focus + &__button{
    background-color:var(--grey-light-3);
  }

  &__button{
    border: none;
    background-color: var(--grey-light-2);
    
    &:focus{
      outline:none;
    }

    &:active{
      transform: translateY(2px);
    }
  
  }

  &__icon{
    height: 2rem;
    width: 2rem;
    fill: var(--grey-dark-3);
  }
}

//////////////////////////////////
//USER NAVIGATION
.user-nav{
  // background-color:greenyellow; //checking
  align-self: stretch;

  display: flex;
  align-items: center;

  & > *{
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover{
    background: var(--grey-light-2);
  }

  &__icon-box{
    position: relative;
  }
 
  &__icon{
    height: 2.25rem;
    width: 2.25rem;
    fill:var(--grey-dark-2);
  }

  &__notification{
    font-size: .8rem;
    height: 1.75rem;
    width:1.75rem;
    border-radius:50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top:1.5rem;
    right:1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo{
    height: 3.75rem;
    border-radius:50%;
    margin-right: 1rem; 
  }

}

//////////////////////////////////
//SIDE NAVIGATION
.side-nav{
  font-size: 1.2rem;
  list-style: none;
  margin-top:3.5rem;

  &__item{
    position: relative;

    &:not(:last-child){
      margin-bottom: .5rem; 
    }
  }

  &__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform .2s,
                width .4s cubic-bezier(1,0,0,1) .2s,
                background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before{
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before{
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited{
    color: var(--grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem; 
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; 
  }

  &__icon{
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem; 
    fill:currentColor;
  }
}

//////////////////////////////////
//LEGAL TXET
.legal{
  font-size: 1.2rem;
  color: var(--grey-light-4);
  text-align: center;
  padding: 2.5rem;
}